.catalog {
    margin: 0.5rem;
    &__card {
        // display: inline-block;
        // margin: 0 1rem;
    }
}

.masonry-layout {
  column-count: 2;
  column-gap: 0;
}
.masonry-layout-panel {
  break-inside: avoid;
  padding: 5px;
}
