<nav fxLayout="row" fxLayoutAlign="space-around center" (swiperight)="snav.opened = true" (swipeleft)="snav.opened = false" >
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <ng-container *ngIf="withBackButton; else elseTemplate">
        <mat-icon  (click)="goBack()">arrow_back</mat-icon>
      </ng-container>
      <ng-template #elseTemplate>
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      </ng-template>
      
      <span class="navbar__tittle">{{ navbarTittle }}</span>
      <div fxFlex fxLayout="row" fxLayoutAlign="end">
          <mat-icon *ngIf="withSearchButton">search</mat-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<mat-sidenav-container class="navbar" (swipeleft)="snav.opened = false">

  <mat-sidenav #snav mode="push" [fixedInViewport]="true" fixedTopGap="56">
    <mat-nav-list >
      <a mat-list-item> <mat-icon>shopping_cart</mat-icon>Catálogo</a>
      <a mat-list-item> <mat-icon>notifications_active</mat-icon>Mis Solicitudes</a>
      <a mat-list-item> <mat-icon>vpn_key</mat-icon>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content (swiperight)="snav.opened = true">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>