$color-primary: #673AB7;
$color-primary-dark: #512DA8;
$color-primary-light: #4527A0;
$color-primary-super-light: #9A67EA;


$color-accent: #FFD740;

$color-white: #fff;
$color-black: #000;

$color-primary-text: #212121;
$color-secondary-text: #757575;

$color-divider: #BDBDBD;