@import "../../../../scss/abstracts/variables.scss";
.login {
    &__nav {
        background: #fff;
    }

    &__logo {
        display: block;
        max-height:40%;
        margin: 2rem auto;
        transform: translateY(-2rem);
    }

    &__button {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__form {
        margin-top: -2rem;
    }

    &__register-link {
        text-decoration: none;
        color: $color-primary;
    }

}