@import "../../../../scss/abstracts/variables.scss";
.login {
    &__nav {
        background: #fff;
    }

    &__logo {
        display: block;
        // height: 30rem;
        max-width:70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        transform: translateY(-2rem);
    }

    &__button {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__form {
        margin-top: -2rem;
    }

    &__register-link {
        text-decoration: none;
        color: $color-primary;
    }

}