<header>
  <div class="landing">
    <div class="landing__text-box">
      <h1 class="mat-display-1 landing__header">Bodega <span class="landing__header--subtitle">artes escénicas</span></h1>
    </div>
  </div>
  <div class="container landing__onboarding-message" fxLayout="column">
    <h2 class="mat-headline">¡Bienvenido a BookProp!</h2>
    <p class="mat-body">Reservar escenografía, utilería, vestuarios y todo lo que necesites para tu obra.</p>
    <button (click)="goToLogin()" class="landing__button" id="login-button" mat-raised-button color="accent">Iniciar sesión</button>
    <button (click)="goToRegister()" class="landing__button" id="register-button" mat-stroked-button color="primary">Regístrate</button>
  </div>
</header>